node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

allure-report/data/

allure-report/export/

allure-report/history/

allure-report/plugin/

allure-report/widgets/

allure-report/app.js

*.ico

allure-report/index.html

allure-report/styles.css

allure-results/0b5c88d0-fad2-4a88-bf77-88c289acb5fd-result.json

allure-results/43196d55-e9ce-4cfd-9768-00ab3c3f5a9e-container.json

allure-results/46ea397e-09f5-457d-ba62-38ea66ff634e-container.json

allure-results/7345defb-b6ae-41ba-82a5-3f6cdab03da3-container.json

allure-results/c07c2eee-679e-4ead-9187-024867915060-attachment.txt

myReport/
